.user_info {
  background-color: var(--primary-color-green-100);
  margin: 0 auto var(--margin-200) auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  /* margin: 5rem auto 0 auto; */
  padding: var(--padding-100);
  border: 1px solid var(--primary-color-green-800);
}

.user_img {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  margin: var(--margin-100) 0;
}

.user_info h2 {
  text-transform: capitalize;
}

.user_stats {
  display: flex;
  justify-content: space-evenly;
  margin: var(--margin-100) 0;
  width: 100%;
}

.user_stats div {
  width: 30%;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.user_stats div:not(:last-of-type)::after {
  position: absolute;
  content: '';
  background-color: var(--primary-color-green-800);
  width: 1px;
  height: 24px;
  top: 50%;
  right: 0;
  margin-top: -12px;
}

.user_stats div p {
  width: 100%;
  text-align: center;
  /* background-color: purple; */
}

.user_stats_title {
  font-size: 1.2rem;
  /* color: var(--secondary-color-white); */
}

.user_stats_content {
  font-size: 1.8rem;
}
