.strava_sync_btn {
  display: block;
  margin: 0 auto;
  width: 80%;
  padding: var(--padding-400) var(--padding-100);
  background-color: var(--primary-color-green-600);
  border: 1px solid var(--secondary-color-black);
  cursor: pointer;
  font-weight: bold;
}

.strava_sync_btn:hover {
  background-color: var(--primary-color-green);
  /* color: var(--primary-color-green-800); */
  scale: 1.01;
}
