@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Candal&display=swap');
/* CSS RESET */
/* https://gist.github.com/Asjas/4b0736108d56197fce0ec9068145b421 */
/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
dd,
ul,
ol {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  background-color: white;
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  /* max-width: 2256px; */
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

[data-heading='logo'],
[data-heading='logo-small'] {
  color: var(--primary-color-green);
  font-size: 2.5rem;
  font-family: var(--logo-font);
  width: max-content;
  letter-spacing: 0.5px;
}

[data-heading='logo'] {
  font-size: 2.5rem;
}

[data-heading='logo-small'] {
  font-size: 1.5rem;
}

[data-heading='secondary'] {
}

[data-heading='tertiary'] {
}

[data-font='icon'] {
  vertical-align: text-bottom;
}

[data-font='speedUnit'] {
  font-size: 1rem;
}

[data-margin-bottom='100'] {
  margin-bottom: var(--base-rem);
}

[data-margin-bottom='300'] {
  margin-bottom: calc(var(--base-rem) * 3);
}

[data-wrapper='max-content-width'] {
  width: 100%;
  max-width: 2048px;
  margin: 0 auto;
}

[data-card-style='title'] {
  font-size: 1.2rem;
  color: var(--primary-color-green);
  text-transform: uppercase;
}

[data-card-style='total'] {
  font-size: 2rem;
  font-weight: bold;
}
