* {
  /* COLOR VARIABLES */
  --primary-color-green-100: hsl(66, 40%, 90%);
  --primary-color-green-200: hsl(66, 40%, 80%);
  --primary-color-green: hsl(66, 77%, 22%);
  --primary-color-green-600: hsl(66, 17%, 32%);
  --primary-color-green-800: hsl(66, 77%, 12%);

  --secondary-color-white: hsl(0, 0%, 100%);
  --secondary-color-black: hsl(0, 2%, 12%);

  /* FONT VARIABLES */
  --logo-font: 'Alfa Slab One', cursive;

  /* BASE REM FOR MEDIA QUERIES AND CALC */
  --base-rem: 1rem;
  --base-margin: 1rem;
  --base-padding: 1rem;

  /* MARGIN */
  --margin-100: var(--base-margin);
  --margin-200: calc(var(--base-margin) * 2);
  --margin-300: calc(var(--base-margin) * 3);
  --margin-400: calc(var(--base-margin) * 4);
  --margin-500: calc(var(--base-margin) * 5);
  --margin-600: calc(var(--base-margin) * 6);
  --margin-700: calc(var(--base-margin) * 7);
  --margin-800: calc(var(--base-margin) * 8);
  --margin-900: calc(var(--base-margin) * 9);

  /* PADDING */
  --padding-100: var(--base-padding);
  --padding-200: calc(var(--base-padding) * 2);
  --padding-300: calc(var(--base-padding) * 3);
  --padding-400: calc(var(--base-padding) * 4);
  --padding-500: calc(var(--base-padding) * 5);
  --padding-600: calc(var(--base-padding) * 6);
  --padding-700: calc(var(--base-padding) * 7);
  --padding-800: calc(var(--base-padding) * 8);
  --padding-900: calc(var(--base-padding) * 9);
}
