.header {
  background-color: var(--secondary-color-white);
  padding: var(--padding-100);
  border-bottom: 2px solid var(--primary-color-green);

  border-bottom: 2px solid var(--primary-color-green-600);
}

.heading {
  border: 1px solid var(--primary-color-green);
  padding: calc(var(--padding-100) / 2) var(--padding-100);
  margin: 0 auto 0 calc(var(--margin-100) * 20);
}
